/* styles.css */

  /* Import Inter font from Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  html {
    font-size: 16px; /* This sets the base font size for the document */
  }


  body {

   font-family: 'Noto Sans','Arial', sans-serif ;
  
    /* font-family: "Inter", sans-serif; */
  }
  
 
  header, nav, main, section, footer {
    display: block;
  }
  

  /* 헤더 및 네비게이션 스타일 */
  header {
    background: #fff;
    padding: 10px 0;
  }

  /* 글자크기 */
  /* 기존에 px 단위로 설정된 폰트 크기를 em 단위로 변경 */
  .app-description p, #character p, #product-list-1 p, #product-list-2 p {
    font-weight: 700;
    font-size: 1em; /* 예: 16px = 1em으로 가정 */
  }

  .screenshot h2, .screenshot h1, h3, #character h2, #product-list-1 .product h2, #product-list-2 .product h2, .app-description h2 {
    font-weight: 1000;
    font-size: 1.25em; /* 예: 20px = 1.25em으로 가정 */
  }

  .green-button, .green-button-2 {
    font-size: 1.625em; /* 예: 26px = 1.625em으로 가정 */
  }

  /* 타이핑 문장 */
  #typing1, #typing2 {
    font-size: 3em;
  }

  /* 헤더 로고 */
  .flex-container {
    display: flex;
    align-items: center; /* 이미지와 '마트친구' 텍스트를 세로 중앙 정렬 */

  }
  .flex-container div {
    margin-left: 30px;
    font-weight : bold; 
  }


  /* 히어로 섹션 스타일 */
  #hero {
    padding: 60px 150px;
    display: flex;
    justify-content: space-between; /* 로고와 텍스트 그룹을 양쪽 끝으로 분리 */
    align-items: center; /* 수직 중앙 정렬 */
  }
  
  .menu-container {
    display: flex;
    justify-content: space-around; /* 요소들 사이의 공간을 균등하게 분배 */
    align-items: center; /* 요소들을 세로축 중앙에 배치 */
    padding: 10px 0; /* 상하 패딩 */
  }
  
  .menu-link {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333; /* 링크 색상 */
    margin-right: 20px; /* 오른쪽 마진으로 링크 사이의 간격 조정 */
  }
  
  .menu-link:last-child {
    margin-right: 0; /* 마지막 링크의 오른쪽 마진 제거 */
  }
  
  .menu-button {
    padding: 10px 20px; /* 버튼의 상하, 좌우 패딩 */
    background-color: #4CAF50; /* 버튼의 배경색 */
    border: none; /* 테두리 제거 */
    color: white; /* 버튼의 텍스트 색상 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
    border-radius: 20px; /* 버튼의 모서리를 둥글게 */
    outline: none; /* 선택시 테두리 제거 */
    transition: background-color 0.3s; /* 배경색 변경시 부드러운 전환 효과 */

  }
  
  .bottom-button {
    margin-top: 30px
  }

  .menu-button:hover {
    background-color: #367c39; /* 마우스 오버시 버튼의 배경색 변경 */
  }
  






  /* 앱 스크린샷 섹션 스타일 */
  #screenshots {
    padding: 40px 20px;
    background: #F0FBF8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .screenshot img {
    max-width: 100%; /* 이미지가 컨테이너보다 커지지 않도록 제한 */
    height: auto; /* 이미지의 원래 비율을 유지 */
  }

  .screenshot {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .screenshot h2, .screenshot h1,h3, #character h2,#product-list-1 .product h2,#product-list-2 .product h2,.app-description h2  {
    font-weight: 1000;
  }

  .screenshot h3 {
    margin-top: 30px;
  }


  /* 앱 소개 섹션 스타일 */
  
  .app-introduction {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .app-description h2{
    margin-bottom: 50px;
  }
  .app-description p, #character p, #product-list-1 p, #product-list-2 p {
    font-weight: 700;
    font-size: 16px;
  }
  .app-introduction img {
    width: 100%;
    display: block; /* 이미지의 기본 마진 제거 */
    height: auto;
  }
  
  /* charater 스타일 */
  #character {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0FBF8;

    padding: 180px 50px;
  }

  #character-list1, #character-list2, #character-list3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    margin: 30px;
  }

  /* 프로덕트1-1 */
  #product-list-1,#product-list-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 120px 150px;
  }
  #product-list-2 {
    background-color: #F0FBF8;
  }
  .product img, #product-4 img {
    width: 200px;
    height: 200px;
    max-width: 100%; /* 이미지가 컨테이너보다 커지지 않도록 제한 */
    height: auto; /* 이미지의 원래 비율을 유지 */
  }

  .app-introduction img {
    width: 600px;
    height: 600px;
    max-width: 100%; /* 이미지가 컨테이너보다 커지지 않도록 제한 */
    height: auto; /* 이미지의 원래 비율을 유지 */
  }

  #screenshots img {
    width: 500px;
    height: 500px;
    max-width: 100%; /* 이미지가 컨테이너보다 커지지 않도록 제한 */
    height: auto; /* 이미지의 원래 비율을 유지 */
  }

  #product-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #product-4 h2 {
    color: #6AC3C0;
    font-weight: 1000;
  }

  /* 푸터 스타일 */
  footer {
    background: #F0FBF8;
    position: relative; /* footer 내에서 절대 위치를 사용하기 위한 설정 */
    padding: 250px 20px; /* 적당한 패딩으로 조정 */
    text-align: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }

  .footer-content p {
    margin-top: 30px;
  }

  .footer-logo {
    position: absolute; /* footer 내에서 절대 위치를 사용 */
    bottom: 0; /* 하단에 위치 */
    left: 100px; /* 좌측에 위치 */
    display: flex;
    align-items: center;
    background-color: #F0FBF8;
    padding: 60px; /* 내부 여백을 줌으로써 로고와 텍스트 주위에 공간을 생성 */
  }

  .footer-logo div {
    margin-left: 30px;
    font-weight : bold; 
  }

  .green-button {
    background-color: #4CAF50; /* 버튼의 배경색 */
    width: 320px;
    color: white; /* 버튼의 텍스트 색상 */
    padding: 30px 30px; /* 상하 10px, 좌우 20px의 패딩 */
    border: none; /* 테두리 제거 */
    border-radius: 120px; /* 모서리를 둥글게 */
    font-size: 26px; /* 텍스트 크기 */
    cursor: pointer; /* 마우스 오버시 커서 변경 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    display: inline-block; /* 필요에 따라 블록 레벨 요소로 표시 */
    transition: background-color 0.3s; /* 배경색 변경시 부드러운 전환 효과 */

  }

   .green-button-2 {
    background-color: #4CAF50; /* 버튼의 배경색 */
    width: 320px;
    color: white; /* 버튼의 텍스트 색상 */
    padding: 30px 30px; /* 상하 10px, 좌우 20px의 패딩 */
    border: none; /* 테두리 제거 */
    border-radius: 120px; /* 모서리를 둥글게 */
    font-size: 26px; /* 텍스트 크기 */
    cursor: pointer; /* 마우스 오버시 커서 변경 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    display: inline-block; /* 필요에 따라 블록 레벨 요소로 표시 */
    transition: background-color 0.3s; /* 배경색 변경시 부드러운 전환 효과 */
  }
  
  
  .green-button:hover {
    background-color: #45a049; /* 마우스 오버시 버튼의 배경색 변경 */
  }
  


  .menu-button {
    width: 200px;
  }

  .menu-button a {
    text-decoration: none;
    color: white;
  }



  
  /* 추가적인 반응형 조정을 위한 미디어 쿼리 */
  @media (max-width: 768px) {
    .screenshot-wrapper {
      width: 45%; /* 화면이 작을 때는 줄당 2개의 스크린샷이 보이도록 너비를 늘립니다 */
    }

    .app-introduction,#hero,#screenshots,#character,#product-list-1,#product-list-2,#product-4 {
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .screenshot-wrapper {
      width: 90%; /* 매우 작은 화면에서는 줄당 1개의 스크린샷이 보이도록 합니다 */
    }

    .app-introduction,#hero,#screenshots,#character,#product-list-1,#product-list-2,#product-4 {
      flex-direction: column;
    }
  }

  /* 타이핑효과 */

  #typing1,#typing2 {
    border-right: 2px solid black; /* 커서 효과 */
    font-family: monospace; /* 고정폭 글꼴 */
    white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 설정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    animation: blinkCursor 0.75s step-end infinite; /* 커서 깜빡임 효과 */
  }
  
  @keyframes blinkCursor {
    from, to { border-color: transparent }
    50% { border-color: black }
  }